page-forgot-password {
  .input {
    border: 1px solid rgba(128, 128, 128, 0.61);
    outline: 0;
    color: #595959;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.25rem;
    padding: 0.75rem;
    background-color: transparent;
    border-radius: .375rem;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .input:focus {
    border: 1px solid #1e88e5;
  }

  .sigin-btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    padding: 1rem 1.6rem;
    background-color: #1f376e;
    background-image: linear-gradient(to top right, #1f376e, #42a5f5);
    border-radius: .5rem;
    width: 100%;
    outline: 0;
    border: 0;
    color: #fff;
  }

  .offer1 {
    display: flex;
    text-align: left;
    color: #e1e1e1;
    margin-top: 10px;
    font-family: 'ramabhadra', sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 2px #082b34;
  }

}