<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="gotohome()">
        <ion-icon style="font-size: 20px;" name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align: center;"><b>పాస్వర్డ్ను రీసెట్ చేయండి</b></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="pagecss">
  <form [formGroup]="passloginform">
    <div *ngIf="!shoepass">
      <h4 class="offer1">వర్గం</h4>
      <select placeholder="మొబైల్ నంబర్" class="input" formControlName="category" readonly="shoepass">
        <option value="" disabled selected>వర్గం ఎంచుకోండి</option>
        <option value="1">విశ్వాసి</option>
        <option value="2">విద్యార్థి</option>
        <option value="3">మినిస్ట్రీస్</option>
        <option value="4">పాస్టర్</option>
        <option value="5">చర్చి</option>
        <option value="6">క్రిస్టియన్ ఆర్గనైజెషన్ / కంపెనీ</option>
        <option value="7">పాస్టర్ల అసోసియేషన్</option>
      </select>
    </div>
    <div *ngIf="shoepass">
      <h4 class="offer1">వర్గం</h4>
      <div class="input">{{category}}</div>
    </div>
    <br>
    <h4 class="offer1">మొబైల్ నంబర్</h4>
    <input placeholder="మొబైల్ నంబర్" class="input" type="tel" formControlName="number" (keypress)="numericOnly($event)"
      maxlength="10" minlength="10" [readonly]="shoepass">
    <br>
    <br>
    <button *ngIf="!shoepass" class="sigin-btn" (click)="checknumber()">Check Number </button>

    <div *ngIf="shoepass">

      <h4 class="offer1">పాస్వర్డ్</h4>
      <input [type]="password_type" class="input" maxlength="16" minlength="6" formControlName="password">
      <br>
      <br>

      <h4 class="offer1">పాస్వర్డ్ను మళ్లీ నమోదు చేయండి</h4>
      <input [type]="password_type" class="input" maxlength="16" minlength="6" formControlName="repassword">
      <br>
      <br>

      <div style="text-align: right;color: white;" class="field-icon" (click)="togglePasswordMode()">
        <ion-icon name="eye"> </ion-icon> పాస్‌వర్డ్ చూపించు
      </div>

      <button *ngIf="shoepass" class="sigin-btn" (click)="submit()">Submit</button>

    </div>




  </form>
</ion-content>