<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button button (click)="gotohome()">
        <ion-icon style="font-size: 20px;" name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align: center;"><b>Search Organistaion</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="pagecss">

  <ion-searchbar (click)="onSearch()" *ngIf="fromshow==1"></ion-searchbar>

  <form [formGroup]="serachMeetingform" *ngIf="fromshow==2">
    <ion-row>
        <ion-col col-12>
            <ion-item>
                <ion-label stacked for="pattern_name">దేనోమినేషన్
                    <span style="color:red;">*</span>
                </ion-label>
                <ion-select formControlName="denomation_id" (ionChange)="serachcaste($event); serachgenders($event,1);">
                    <ion-option value="" disabled selected>దేనోమినేషన్ ఎంచుకోండి</ion-option>
                    <ion-option *ngFor="let i of denomation" [value]="i.id">{{i.denomation_name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-12>
            <ion-item>
               <ion-label stacked>మంత్రిస్థాయి</ion-label>
                <ion-select formControlName="ministry_id" (ionChange)="serachgenders($event,2); serachgender($event);">
                    <ion-option value="" disabled selected>మంత్రిస్థాయి ఎంచుకోండి</ion-option>
                    <ion-option *ngFor="let i of ministryname" [value]="i.id">{{i.ministryname}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-12>
            <ion-item>
               <ion-label stacked>సేవా పేరు</ion-label>
                <ion-select formControlName="service_name" (ionChange)="serachgenders($event,3); servicessearch($event);">
                    <ion-option value="" disabled selected>సేవ ఎంచుకోండి</ion-option>
                    <ion-option *ngFor="let item of services" [value]="item.id">{{item.servicename}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <ion-item>
               <ion-label stacked>జిల్లాలను ఎంచుకోండి</ion-label>
                <ion-select formControlName="district_id" (ionChange)="getconstency($event); searchdistric($event); serachgenders($event,4);">
                    <ion-option value="" disabled selected>ఇక్కడ క్లిక్ చేసి ఎంచుకోండి</ion-option>
                    <ion-option *ngFor="let item of districts" [value]="item.id">{{item.distrct_nm}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-12>
            <ion-item>
               <ion-label stacked>మండలాలను ఎంచుకోండి</ion-label>
                <ion-select formControlName="constenncy_id" (ionChange)="getmandals($event); searchconstenct($event); serachgenders($event,5);">
                    <ion-option value="" disabled selected>ఇక్కడ క్లిక్ చేసి ఎంచుకోండి</ion-option>
                    <ion-option *ngFor="let item of constituency" [value]="item.id">{{item.const_nm}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-12>
            <ion-item>
               <ion-label stacked>మండలాలను ఎంచుకోండి</ion-label>
                <ion-select formControlName="mandal_id" (ionChange)="gepanchayati($event); searchmandals($event); serachgenders($event,6);">
                    <ion-option value="" disabled selected>ఇక్కడ క్లిక్ చేసి ఎంచుకోండి</ion-option>
                    <ion-option *ngFor="let item of mandals" [value]="item.id">{{item.mndl_nm}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-12>
            <ion-item>
               <ion-label stacked>పంచాయతీ ఎంచుకోండి</ion-label>
                <ion-select formControlName="panchayati_id" (ionChange)="searchvillages($event); serachgenders($event,7);">
                    <ion-option value="" disabled selected>ఇక్కడ క్లిక్ చేసి ఎంచుకోండి</ion-option>
                    <ion-option *ngFor="let item of panchayati" [value]="item.id">{{item.pnchyt_nm}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-12 style="text-align: center;">
            <button  ion-button color="primary" (click)="search()">శోధన</button>
        </ion-col>
    </ion-row>
</form>


<div class="row">
  <ion-col col-12  *ngFor="let item of marriagedata" style="text-align: center;">
      <ion-card >
          <img *ngIf="!item.image || item.image === ''" src="assets/icon/svg/photo.svg"
             style="width:200px; height:200px" >
          <img  *ngIf="item.image" [src]="item.image" style="width:212px;height:251px;"
              (click)="openimg(item.image, openmodel)">
          <ion-card-content>
              <ion-card-title>Organisation Name: <strong>{{item.organisation_name}}</strong></ion-card-title>
              <p>Street name: <strong>{{item.ward}}</strong></p>
              <p>Local address: <strong>{{item.org_address}}</strong></p>
              <!-- <a (click)="toggleDisplayDiv()" style="color:rgb(175, 15, 15)">READMORE</a> -->
              <!-- <a [href]="item.location" [hidden]="isShowDiv">
                  <img src="assets/images/marker.png" style="width:45px;">
              </a>
              <a [href]="'tel:+91' + item.contact_num" [hidden]="isShowDiv">
                  <img src="assets/images/phone.png" style="width:45px;">
              </a> -->
          </ion-card-content>
      </ion-card>
  </ion-col>
</div>


</ion-content>
