page-modalpage {

    .modal-image {
        width: 100%;
        height: auto;
    }

    .modal-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      
      .modal-content {
        width: 80%; /* Adjust the width as needed */
        max-width: 500px; /* Optional: Set a maximum width */
      }
      
}