page-forms {



  ion-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    font-size: 20px;
  }


  .hesd {
    color: #00548f;
    font-weight: 1000;
    font-family: 'Ramabhadra', sans-serif;
    background-color: #ffffff!important;
  }



}